<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            {{!-- logo --}}
            <div class="navbar-header">
                <div class="nav-wrapper container">
                    <div id="logo-container" class="brand-logo"><img width="75" height="auto" src="still.png">
                    </div>
                </div>

            </div>
            <h1 class="logo"><a href="/members">Ruckus</a></h1>
            <a class="btn btn-light" href="/homepage">Go to Homepage</a>
            <a class="btn btn-light" href="/members">My Profile</a>
            <a class="btn btn-light" href="/cms">New Post</a>
            <a class="btn btn-light" href="/blog">Go to Blog</a>
            <a class="btn btn-light" href="/biopage">Update Your Profile</a>
            <a class="btn btn-light" id="logout" href="/logout">Logout</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12 blog-container">
        </div>
    </div>
</div>
<!-- Custom Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/blog.js" type="text/javascript"></script>