<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            {{!-- logo --}}
            <div class="navbar-header">
                <div class="nav-wrapper container">
                    <div id="logo-container" class="brand-logo"><img width="75" height="auto" src="still.png">
                    </div>
                </div>

            </div>
            <h1 class="logo"><a href="/members">Ruckus</a></h1>
            <a class="btn btn-light" href="/homepage">Go to Homepage</a>
            <a class="btn btn-light" href="/cms">New Post</a>
            <a class="btn btn-light" href="/blog">Go to Blog</a>
            <a class="btn btn-light" href="/biopage">Update Your Page</a>
            <a class="btn btn-light" href="/logout">Logout</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <form id="cms">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title">
                    <br />
                    <label for="body">Body:</label>
                    <textarea class="form-control" rows="10" id="body"></textarea>
                    <br />
                    <button type="submit" class="btn btn-success submit btn-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/cms.js"></script>