<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="jumbotron" class="col-md-6 col-md-offset-3">
            <h2>Welcome to Ruckus<span class="member-name"></span></h2>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="text-center" class="text-light">{{username}}</h1>
</div>
<div class="row mt-4">
    <div class="col-md-2">
        <a class="btn btn-light" href="/cms">New Post</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-light" href="/blog">Go to Blog</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-light" href="/members">Back to Member Page</a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/homepage.js"></script>