<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1 class="logo"><a href="/members">Ruckus</a></h1>
            <a class="btn btn-light" href="/homepage">Go to Homepage</a>
            <a class="btn btn-light" href="/members">My Profile</a>
            <a class="btn btn-light" href="/cms">New Post</a>
            <a class="btn btn-light" href="/blog">Go to Blog</a>
            <a class="btn btn-light" href="/biopage">Update Your Profile</a>
            <a class="btn btn-light" id="logout" href="/logout">Logout</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="jumbotron" class="col-md-6 col-md-offset-3">
            <h2>Welcome to Ruckus<span class="member-name"></span></h2>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="text-right" class="text-light">{{user.username}}</h1>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/homepage.js"></script>